@st-import [simple] from "./components/hero-section/variants/simple.st.css";
@st-import Hero from "./components/hero-section/hero-section.st.css";


.hero-simple {
    -st-extends: Hero;
    -st-mixin: simple;
}

.hero-fire {
    -st-extends: Hero;
    -st-mixin: simple(
        bg red,
        cta-color white,
        strips-color rgba(107, 89, 212, 0.3),
        strips-distance 2.55rem,
        template '"title description"
                 "subtitle subtitle"
                 "cta cta"'
    );    
}

.hero-fire::description {
    font-size: 1.5em;
    text-align: left;
}

 